REDIS_URL=
MEMORY_KEY=chat_history

FAST_API_ENDPOINT=
FAST_API_SECRET_TOKEN=

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=

OPENAI_API_KEY=
GROK_API_KEY=